!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    = render 'layouts/shim'

  %body
    %nav.navbar.navbar-default.transparent.navbar-fixed-top{:role => "banner"}
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand{:href => "/"}
          = image_tag "logo.png"
      %nav.collapse.navbar-collapse{:role => "navigation"}
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "#sec"} Blog
          %li
            %a{:href => "#sec"} About
          %li
            %a{:href => "#sec"} Contact

    #mainContainer.container
      %section#Blog.sec.pull-center
        %h1 Blog
      %section#About.sec.pull-center
        %h1 About
      %section#Contact.sec.pull-center
        %h1 Contact

    #dotNav.pull-right{"data-spy" => "affix"}
      %ul
        %li.awesome-tooltip.active{:title => "Blog"}
          %a{:href => "#Blog"}
        %li.awesome-tooltip{:title => "About"}
          %a{:href => "#About"}
        %li.awesome-tooltip{:title => "Contact"}
          %a{:href => "#Contact"}

    :javascript
      $(document).ready(function(){
        $('.awesome-tooltip').tooltip({
          placement: 'left'
        });

        $(window).scroll(function() {
          if($(this).scrollTop() > 100) {
            $('.navbar').addClass('opaque'); // adding the opaque class
          } else {
            $('.navbar').removeClass('opaque'); // removing the opaque class
          }
        });

        $(window).bind('scroll',function(e){
          redrawDotNav();
        });

        function redrawDotNav(){

          var topNavHeight = 50;
          var numDivs = $('section').length;

          $('#dotNav li a').removeClass('active').parent('li').removeClass('active');
          $('section').each(function(i,item){
            var ele = $(item), nextTop;

            if (typeof ele.next().offset() != "undefined") {
              nextTop = ele.next().offset().top;
            } else {
              nextTop = $(document).height();
            }

            if (ele.offset() !== null) {
              thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numDivs);
            } else {
              thisTop = 0;
            }

            var docTop = $(document).scrollTop()+topNavHeight;

            if(docTop >= thisTop && (docTop < nextTop)){
              $('#dotNav li').eq(i).addClass('active');
            }
          });
        }

        $('#dotNav li').click(function(){
          var id = $(this).find('a').attr("href"),
          posi,
          ele,
          padding = $('.navbar-fixed-top').height();

          ele = $(id);
          posi = ($(ele).offset()||0).top - padding;

          $('html, body').animate({scrollTop:posi}, 'slow');

          return false;
        });

      });
