!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    = render 'layouts/shim'

  %body

    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "#"} Brand
        %ul.nav.navbar-nav.menu
          %li.active
            %a{:href => "#"}
              Blog
              %span.sr-only (current)
          %li
            %a{:href => "#"} About

    #dot-nav{"data-spy" => "affix"}
      %ul
        %li.awesome-tooltip.active{:title => "Home"}
          %a{:href => "#home"}
        %li.awesome-tooltip{:title => "About"}
          %a{:href => "#about"}
        %li.awesome-tooltip{:title => "Projects"}
          %a{:href => "#projects"}
        %li.awesome-tooltip{:title => "Contact"}
          %a{:href => "#contact"}

    #main.container-fluid

      %section#home
        %article
          .row
            .col-md-12
              %h1
                Home Section
                %small Secondary text
              %p
                This is a content.
      %section#about
        %article
          .row
            .col-md-12
              %h1
                About Section
                %small Secondary text
              %p
                This is a content.
      %section#projects
        %article
          .row
            .col-md-12
              %h1
                Projects Section
                %small Secondary text
              %p
                This is a content.
      %section#contact
        %article
          .row
            .col-md-12
              %h1
                Contact Section
                %small Secondary text
              %p
                This is a content.

    :javascript
      $(document).ready(function(){
        $(window).scroll(function() {
          // check if window scroll for more than 430px. May vary
          // as per the height of your main banner.

          if($(this).scrollTop() > 430) {
              $('.navbar').addClass('opaque'); // adding the opaque class
          } else {
              $('.navbar').removeClass('opaque'); // removing the opaque class
          }
        });

        $('.awesome-tooltip').tooltip({
          placement: 'left'
        });

        $(window).bind('scroll',function(e){
          dotnavigation();
        });

        function dotnavigation(){
          var numSections = $('section').length;
          $('#dot-nav li a').removeClass('active').parent('li').removeClass('active');
            $('section').each(function(i,item){
            var ele = $(item), nextTop;

            if (typeof ele.next().offset() != "undefined") {
              nextTop = ele.next().offset().top;
            } else {
              nextTop = $(document).height();
            }

            if (ele.offset() !== null) {
              thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numSections);
            } else {
              thisTop = 0;
            }

            var docTop = $(document).scrollTop();

            if(docTop >= thisTop && (docTop < nextTop)){
              $('#dot-nav li').eq(i).addClass('active');
            }
          });
        }

        $('#dot-nav li').click(function(){

          var id = $(this).find('a').attr("href"),
            posi,
            ele,
            padding = 0;

          ele = $(id);
          posi = ($(ele).offset()||0).top - padding;

          $('html, body').animate({scrollTop:posi}, 'slow');

          return false;
        });
      });