!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    = render 'layouts/shim'

  %body
    %nav.navbar.navbar-default.transparent.navbar-fixed-top{:role => "banner"}
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar

      %nav.collapse.navbar-collapse{:role => "navigation"}
        %ul.nav.navbar-nav
          %li.active
            %a{:href => root_path} Home
          %li
            %a{:href => "#sec"} Blog

    #mainContainer
      %section#home.content-section.video-section
        .pattern-overlay
          %a#bgndVideo.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=Q11218Qp4kI',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"} bg
          .container
            .row
              .col-lg-12
                %h1 Jiazhen Xie
                %h3 Software Engineer / Tech Enthusiasm
      %section#about.wow.rotateIn
        .row
          .col-md-4
            = image_tag("personal_img.jpg", alt: "Jiazhen Xie")
          .desc.col-md-7
            %h2 ABOUT ME
            %p
              After finished BM in Information Management and Information System from
              #{link_to 'Northwest A & F University', 'http://www.nwsuaf.edu.cn/', alt: "Top 20 Universities in China"}
              in July 2010, I decided to get further education in
              #{link_to 'The University of Birmingham', 'http://www.birmingham.ac.uk/‎'},
              United Kingdom. I obained my MSc with Distinction in Computer Science in Oct 2011.
            %p
              Over the last five years of academic education and research, I've gained a strong understanding of several areas of computer science, but with particular expertise in areas of software engineering and database management.
            %p
              I started my internship in
              %abbr{title: "The Supplies Guys"} TSG
              in November 2011 then became a full-time employee after three months. My main resposibilities are designing and implementing softwares, maintaining research database and integrating Google
              %abbr{title: "Paid Per Click"} PPC
              data into the database. I am also involved in system architecture designs and implementations.
            %p
              Currently I am a Software Engineer in #{link_to 'Venntro', 'http://www.venntro.com/'}. I am passionate about Ruby and QA automation, hence regularly on the lookout for ways to improve QA automation.
            %p
              I like reading, traveling and animation. Please feel free to get in touch!
      %section#contact
        .container
          .row
            .col-md-12
              %h1 CONTACT ME
          .row
            .col-md-3.col-md-offset-5
              %h2 SOCIAL MEDIA
          .row
            .cartable.col-md-3.animated.infinite.bounce
              = image_tag("cartable-2.png", size: "303x219", alt: "Edit Entry")
            .col-md-6
              .media-container
                .row
                  .col-md-4
                    %a.btn.btn-default{:href => "mailto:jiazhenxie515@gmail.com", :role => "button"}
                      %i.fa.fa-envelope.fa-inverse.fa-3x
                  .col-md-4
                    %a.btn.btn-default{:href => "http://uk.linkedin.com/pub/jiazhen-xie/63/637/256", :role => "button"}
                      %i.fa.fa-linkedin.fa-inverse.fa-3x
                  .col-md-4
                    %a.btn.btn-default{:href => "#jiazhenjoe", :role => "button"}
                      %i.fa.fa-weixin.fa-inverse.fa-3x
                .row
                  .col-md-4
                    %a.btn.btn-default{:href => "#lucky_mily", :role => "button"}
                      %i.fa.fa-skype.fa-inverse.fa-3x
                  .col-md-4
                    %a.btn.btn-default{:href => "#jiazhenxie", :role => "button"}
                      %i.fa.fa-twitter.fa-inverse.fa-3x
            .cartable.col-md-3.animated.infinite.swing
              = image_tag("cartable.png", size: "300", alt: "Edit Entry")
      %footer
        .row
          .col-md-12
            %h4 Copyright 2015 - Jiazhen Xie

    #dotNav.pull-right{"data-spy" => "affix"}
      %ul
        %li.awesome-tooltip.active{:title => "Home"}
          %a{:href => "#home"}
        %li.awesome-tooltip{:title => "About"}
          %a{:href => "#about"}
        %li.awesome-tooltip{:title => "Contact"}
          %a{:href => "#contact"}

    :javascript
      $(document).ready(function(){
        new WOW().init();

        $('.awesome-tooltip').tooltip({
          placement: 'left'
        });

        $(".player").mb_YTPlayer();

        $(window).scroll(function() {
          if($(this).scrollTop() > 100) {
            $('.navbar').addClass('opaque'); // adding the opaque class
          } else {
            $('.navbar').removeClass('opaque'); // removing the opaque class
          }
        });

        $(window).bind('scroll',function(e){
          redrawDotNav();
        });

        function redrawDotNav(){

          var topNavHeight = 50;
          var numDivs = $('section').length;

          $('#dotNav li a').removeClass('active').parent('li').removeClass('active');
          $('section').each(function(i,item){
            var ele = $(item), nextTop;

            if (typeof ele.next().offset() != "undefined") {
              nextTop = ele.next().offset().top;
            } else {
              nextTop = $(document).height();
            }

            if (ele.offset() !== null) {
              thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numDivs);
            } else {
              thisTop = 0;
            }

            var docTop = $(document).scrollTop()+topNavHeight;

            if(docTop >= thisTop && (docTop < nextTop)){
              $('#dotNav li').eq(i).addClass('active');
            }
          });
        }

        $('#dotNav li').click(function(){
          var id = $(this).find('a').attr("href"),
          posi,
          ele,
          padding = $('.navbar-fixed-top').height();

          ele = $(id);
          posi = ($(ele).offset()||0).top - padding;

          $('html, body').animate({scrollTop:posi}, 'slow');

          return false;
        });

      });
