= render 'shared/error_messages', object: f.object
= f.label :title
= f.text_field :title, :style => "color: black;"

= f.label :content
= f.text_area :content, :size => "20x15", :style => "color: black;"
