- provide(:title, "Blog")

#mainContainer
  %section.blog-wrap
    .container
      .row
        .blog-container.grid
          - @posts.each do |post|
            .items.grid-item.col-xs-5.col-sm-5.col-md-4.col-lg-4
              %label.btn.btn-default
                %a{:href => post_path(post)}
                  = image_tag post.image.url(:med)
                  %h4= post.title
                .text-wrap
                  %a{:href => post_path(post)}= post.subtitle
                .info-stats-warp
                  .row
                    .cell.col-lg-6
                      %i.fa.fa-clock-o.fa-inverse
                      = time_ago_in_words(post.created_at)
                      ago
                    .cell.col-lg-6
                      %i.fa.fa-share.fa-inverse
                      share

      .row
        .col-lg-12
          = paginate @posts


:javascript
  $(document).ready(function(){

    var $container = $('.grid');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.grid-item'
      });
    });

    $container.infinitescroll({
      navSelector  : '.pagination',    // selector for the paged navigation
      nextSelector : '.pagination .next a',  // selector for the NEXT link (to page 2)
      itemSelector : '.grid-item',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.'
        }
      },
      // trigger Masonry as a callback
      function( newElements ) {
        // hide new items while they are loading
        var $newElems = $( newElements ).css({ opacity: 0 });
        // ensure that images load before adding to masonry layout
        $newElems.imagesLoaded(function(){
          // show elems now they're ready
          $newElems.animate({ opacity: 1 });
          $container.masonry( 'appended', $newElems, true );
        });
      }
    );

  });
