- if signed_in? && current_user.admin?
  = link_to "create", new_post_path, class: "btn btn-medium btn-primary"
  %br

/ = link_to raw('<i class="icon-pencil"></i>'), edit_post_path(post)
/ = link_to raw('<i class="icon-remove"></i>'), post, method: :delete, data: { confirm: "You sure?" }


= will_paginate @posts
.page-header
  %h1#timeline Blogs
%ul.timeline
  - @posts.in_groups_of(2) do |group|
    %li
      .timeline-badge
        %i.glyphicon.glyphicon-check
      .timeline-panel
        .timeline-heading
          %h4.timeline-title= group[0].title
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              = time_ago_in_words(group[0].created_at)
        .timeline-body
          %p= group[0].content
    - if group[1]
      %li.timeline-inverted
        .timeline-badge.warning
          %i.glyphicon.glyphicon-credit-card
        .timeline-panel
          .timeline-heading
            %h4.timeline-title= group[1].title
            %p
              %small.text-muted
                %i.glyphicon.glyphicon-time
                = time_ago_in_words(group[1].created_at)
          .timeline-body
            %p= group[1].content
= will_paginate @posts