- provide(:title, 'Blogs')
- if user_signed_in?
  = link_to raw('<i class="glyphicon glyphicon-plus"></i> create'), new_post_path, class: "btn btn-medium btn-warning"
  %br


= will_paginate @posts
.page-header
  %h1#timeline Blogs
%ul.timeline
  - @posts.each_with_index do |post, index|
    %li{class: ("timeline-inverted" if index % 2 == 1)}
      .timeline-badge{class: ('warning' if index % 2 == 1)}
        %i.glyphicon{class: (index % 2 == 1 ? 'glyphicon-check' : 'glyphicon-credit-card')}
      .timeline-panel
        .timeline-heading
          %h4.timeline-title= post.title
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              = time_ago_in_words(post.created_at) + ' ago'
              - if user_signed_in?
                = link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_post_path(post)
                = link_to raw('<i class="glyphicon glyphicon-remove"></i>'), post, method: :delete, data: { confirm: "You sure?" }
        .timeline-body
          %p
            - if post.content.split.size > 15
              = summarise(post.content)
            - else
              = post.content
          %p.muted.pull-right= link_to raw('<i class="glyphicon glyphicon-paperclip"></i> View full'), post
= will_paginate @posts