- provide(:title, "Blog")
= render "shared/meta_data", post: nil

%section.profile.jumbotron.padding-top-108
  .container
    .row
      .col-md-8.col-md-offset-2.col-sm-12
        %header
          %img.rounded-circle.pull-right{:src => asset_pack_path("media/images/profile.jpg"), :width => "120", :height => "120"}
          %h1
            %a.link.link-darker Jiazhen Xie
          %p.hero-description.description-color
            Lead Software Engineer. Tech Enthusiasm. Traveler. Father.
            %a.link.description-color{:href => "https://twitter.com/JIAZHENXIE"}
              @JiazhenXie

        %div
          %ul.list-inline
            %li.list-inline-item
              %a.link.description-color.media-set{:href => "https://github.com/JIAZHEN"}
                %i.fa.fa-github.fa-lg
            %li.list-inline-item
              %a.link.description-color.media-set{:href => "https://uk.linkedin.com/in/jiazhen-xie-25663763"}
                %i.fa.fa-linkedin.fa-lg
            %li.list-inline-item
              %a.link.description-color.media-set{:alt => "wechat - jiazhenjoe", :href => "https://www.wechat.com/en/"}
                %i.fa.fa-weixin.fa-lg
            %li.list-inline-item
              %a.link.description-color.media-set{:href => "https://twitter.com/JIAZHENXIE"}
                %i.fa.fa-twitter.fa-lg
            %li.list-inline-item
              %a.link.description-color.media-set{:href => "http://www.weibo.com/jiazhenxie"}
                %i.fa.fa-weibo.fa-lg

%section
  .container
    .row
      .col-md-12.col-sm-12
        %h3
          %b Latest
        %hr

        .grid
          - @posts.each do |post|
            .post-item
              .post-avatar
                %img.rounded-circle{:src => asset_pack_path("media/images/profile.jpg"), :width => "36", :height => "36"}

              .post-summary
                %a.link.link-accent Jiazhen Xie
                in
                %a.link.link-accent UK
                %span.post-meta.dim-text
                  = time_ago_in_words(post.created_at)
                  ago
                  - if signed_in_admin?
                    %span.middotDivider
                    %a.link.link-accent{:href => edit_post_path(post)}
                      %i.fa.fa-pencil-square-o
                      Edit
                %span.post-meta
                  - post.tags.each do |tag|
                    %a.link.link-accent{:href => posts_path(tag: tag.try(:name))}
                      %span.badge.badge-success= tag.try(:name)

              %h3.mt-3
                %a.link.link-darker{:href => post_path(post)}
                  %b= post.title
              %p
                %a.link.link-dark{:href => post_path(post)}= post.subtitle

              .post-footer
                %a.link.dim-text{:href => post_path(post)} Read more...
              %hr
    .row
      .col-md-12
        = paginate @posts
