- provide(:title, 'Blogs')

#post-index.container
  = will_paginate @posts
  .row
    .col-md-9
      - @posts.each_with_index do |post, index|
        .row
          .col-md-12.post
            .row
              .col-md-12
                %h4
                  %strong
                    %a.post-title{:href => post_path(post)}= post.title
            .row
              .col-md-12.post-header-line
                = succeed "#{post.created_at.to_formatted_s(:long_ordinal)}" do
                  %span.glyphicon.glyphicon-calendar
                - if user_signed_in?
                  |
                  %span= link_to raw('<i class="glyphicon glyphicon-pencil"></i>edit'), edit_post_path(post)
                  |
                  %span= link_to raw('<i class="glyphicon glyphicon-remove"></i>delete'), post, method: :delete, data: { confirm: "You sure?" }
            .row.post-content
              .col-md-3
                %a{:href => "#"}
                  %img.img-responsive{:alt => "", :src => "http://4.bp.blogspot.com/-_lqoNpVXeU4/UkxQ7N-QW8I/AAAAAAAACTw/pni-TZyp17o/s1600/cool+share+button+effects+styles.png"}/
              .col-md-9
                %p= summarise(post.content)
                %p
                  %a.btn.btn-read-more{:href => "http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html"} Read more
  = will_paginate @posts
     