- provide(:title, @post.title)
:css
  .markdown-body {
    margin: 0 auto;
    padding: 30px;
  }

.container
  .row
    #blog-content
      %header.intro-header
        .row
          .col-lg-12.col-lg-offset-2.col-md-12.col-md-offset-1
            .post-heading
              %h1= @post.title
              %h2.subheading= @post.subtitle
              %span.meta
                Posted by
                %a{:href => "#"} Jiazhen Xie
                •
                = time_ago_in_words(@post.created_at) + " ago"
                - if user_signed_in?
                  %p= link_to raw('<i class="fa fa-pencil"></i> edit'), edit_post_path(@post)
        %br/
        %br/
      %article.markdown-body
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            %br/
            %br/
            = markdown.render(@post.content).html_safe
