- provide(:title, @post.title)

#post-cotainer
  %header{:style => "background-image: url(#{@post.image.url});"}
  %section
    .container
      .row
        .title.col-lg-9.col-lg-offset-2
          %h1= @post.title

      .row
        .time.col-lg-9.col-lg-offset-2
          %i.fa.fa-calendar
          posted at
          = @post.created_at.to_s(:db)
          - if signed_in_admin?
            =link_to raw('<i class="fa fa-pencil"></i> edit'), edit_post_path(@post)

      .row
        .title.col-lg-9.col-lg-offset-2
          %h2.subheading= @post.subtitle

      .row
        .col-lg-7.col-lg-offset-2
          = markdown.render(@post.content).html_safe
