- provide(:title, @post.title)

= render "shared/meta_data", post: @post

= stylesheet_link_tag "github-markdown"

%section#post-body
  .container
    .row
      .col-md-10.col-md-offset-2
        .post-avatar
          %img.img-circle{:src => image_path("profile.jpg"), :width => "36", :height => "36"}

        .post-summary
          %a.link.link-accent Jiazhen Xie
          in
          %a.link.link-accent UK
          %span.post-meta.dim-text
            = time_ago_in_words(@post.created_at)
            ago
            - if signed_in_admin?
              %span.middotDivider
              %a.link.link-accent{:href => edit_post_path(@post)}
                %i.fa.fa-pencil-square-o
                Edit
            %span.post-meta
              - @post.tags.each do |tag|
                %a.link.link-accent{:href => posts_path(tag: tag.try(:name))}
                  %span.label.label-success= tag.try(:name)

    .row
      .col-md-8.col-md-offset-2.col-sm-12
        %h1.post-title.grey-header= @post.title

    .row
      .col-md-8.col-md-offset-2.col-sm-12
        %article.markdown-body
          = markdown.render(@post.content).html_safe

    .row
      .col-md-8.col-md-offset-2.col-sm-12
        %br
        #disqus_thread

:javascript
  var disqus_config = function () {
    this.page.url = "#{request.original_url}";
    this.page.identifier = "#{@post.disqus_identifier}";
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//sheerdevelopment.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

%noscript
  Please enable JavaScript to view the
  %a{:href => "https://disqus.com/?ref_noscript"} comments powered by Disqus.
