%header.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: "navigation"}
  .navbar-inner
    %ul.nav
      %li= link_to 'Home', root_path
      %li= link_to 'Blogs', posts_path
      %li= link_to 'About me', about_path
      %li= link_to 'Contact', contact_path
      - if signed_in? && current_user.admin?
        %li= link_to "Sign out", signout_path, method: "delete"