%header.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: "navigation"}
  .navbar-inner
    %ul.nav
      %li= link_to 'Home', root_path
      %li= link_to 'Blogs', posts_path
      %li= link_to 'About me', about_path
      %li= link_to 'Contact', contact_path
      - if user_signed_in?
        %li= link_to "Sign out", destroy_user_session_path, method: "delete"